[submodule "utils/git-when-merged"]
	path = utils/git-when-merged
	url = https://github.com/mhagger/git-when-merged.git
[submodule "utils/utils/git-recent"]
	path = utils/utils/git-recent
	url = https://github.com/paulirish/git-recent.git
[submodule "utils/git-recent"]
	path = utils/git-recent
	url = https://github.com/paulirish/git-recent.git
[submodule "mac/terminal/osx-terminal.app-colors-solarized"]
	path = mac/terminal/osx-terminal.app-colors-solarized
	url = https://github.com/tomislav/osx-terminal.app-colors-solarized.git
[submodule "mac/terminal/FiraCode"]
	path = mac/terminal/FiraCode
	url = https://github.com/tonsky/FiraCode.git
[submodule "lib/osx-shell-battery"]
	path = lib/osx-shell-battery
	url = git@github.com:NewAlexandria/osx-shell-battery.git
[submodule "irssi/sources/irssi-smartfilter"]
	path = irssi/sources/irssi-smartfilter
	url = https://github.com/lifeforms/irssi-smartfilter.git
[submodule "lib/plantuml-db-schema.git"]
	path = lib/plantuml-db-schema.git
	url = https://gist.github.com/0955a45383a0b6c0bc24f9654b3cb561.git
[submodule "zsh/themes/powerlevel10k"]
	path = zsh/themes/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
[submodule "zsh/plugins/fzf-tab"]
	path = zsh/plugins/fzf-tab
	url = https://github.com/Aloxaf/fzf-tab
