<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>dev_cleanup.job</string>
	<key>Nice</key>
	<integer>0</integer>
	<key>ProcessType</key>
	<string>Background</string>
	<key>ProgramArguments</key>
	<array>
    <string>/bin/rm</string>
		<string>/Users/zachary/src/work/mybanktracker-rails/tmp/mbt-*.sql</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>StartCalendarInterval</key>
	<dict>
		<key>Hour</key>
		<integer>7</integer>
	</dict>
	<key>ThrottleInterval</key>
	<integer>600</integer>
</dict>
</plist>
