<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DHCheatRepo</key>
	<dict>
		<key>installed</key>
		<dict>
			<key>ASCII_Tables</key>
			<dict>
				<key>date</key>
				<date>2020-04-21T13:23:49Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>name</key>
					<string>ASCII Tables</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>ASCII_Tables</string>
				</dict>
			</dict>
			<key>Capybara</key>
			<dict>
				<key>date</key>
				<date>2020-04-21T13:23:56Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>ruby on rails</string>
					</array>
					<key>name</key>
					<string>Capybara</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>Capybara</string>
				</dict>
			</dict>
			<key>Docker</key>
			<dict>
				<key>date</key>
				<date>2020-04-21T13:24:04Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>name</key>
					<string>Docker</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>Docker</string>
				</dict>
			</dict>
			<key>Dockerfile</key>
			<dict>
				<key>date</key>
				<date>2020-04-21T13:24:05Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>name</key>
					<string>Dockerfile</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>Dockerfile</string>
				</dict>
			</dict>
			<key>Kubernetes</key>
			<dict>
				<key>date</key>
				<date>2020-04-21T13:24:18Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>name</key>
					<string>Kubernetes</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>Kubernetes</string>
				</dict>
			</dict>
			<key>SMTP_Status_Codes</key>
			<dict>
				<key>date</key>
				<date>2020-04-21T13:24:38Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>name</key>
					<string>SMTP Status Codes</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>SMTP_Status_Codes</string>
				</dict>
			</dict>
			<key>SQLite</key>
			<dict>
				<key>date</key>
				<date>2020-04-21T13:24:45Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>name</key>
					<string>SQLite</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>SQLite</string>
				</dict>
			</dict>
			<key>tmux</key>
			<dict>
				<key>date</key>
				<date>2020-04-21T13:24:48Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>terminal</string>
						<string>shell</string>
						<string>bash</string>
						<string>zsh</string>
					</array>
					<key>name</key>
					<string>tmux</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>tmux</string>
				</dict>
			</dict>
		</dict>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHClojureRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHDartRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHGitHubRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHGoRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHHaskellRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHHexRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHJavaRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHPhpRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHRubyRepo</key>
	<dict>
		<key>installed</key>
		<dict>
			<key>pry</key>
			<dict>
				<key>date</key>
				<date>2020-04-21T13:23:21Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>pry</string>
					<key>platform</key>
					<string>rubyGems</string>
					<key>uniqueIdentifier</key>
					<string>pry</string>
				</dict>
			</dict>
		</dict>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHScalaRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHStackOverflowRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHUserRepo</key>
	<dict>
		<key>installed</key>
		<dict>
			<key>Airflow</key>
			<dict>
				<key>date</key>
				<date>2020-04-21T13:23:41Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>Apache Airflow</string>
						<string>Python Airflow</string>
					</array>
					<key>authorLinkHref</key>
					<string>https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/Airflow#readme</string>
					<key>authorLinkText</key>
					<string>David Hong</string>
					<key>name</key>
					<string>Airflow</string>
					<key>platform</key>
					<string>usercontribAirflow</string>
					<key>uniqueIdentifier</key>
					<string>Airflow</string>
				</dict>
			</dict>
			<key>Apache_Avro</key>
			<dict>
				<key>date</key>
				<date>2020-04-21T13:23:31Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>Avro</string>
					</array>
					<key>authorLinkHref</key>
					<string>https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/Apache_Avro#readme</string>
					<key>authorLinkText</key>
					<string>Daniel CYR</string>
					<key>name</key>
					<string>Apache Avro</string>
					<key>platform</key>
					<string>usercontribApache_Avro</string>
					<key>uniqueIdentifier</key>
					<string>Apache_Avro</string>
				</dict>
			</dict>
			<key>Kubernetes</key>
			<dict>
				<key>date</key>
				<date>2020-04-22T13:26:13Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>kubernetes</string>
						<string>kubectl</string>
					</array>
					<key>authorLinkHref</key>
					<string>https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/Kubernetes#readme</string>
					<key>authorLinkText</key>
					<string>John Patterson</string>
					<key>name</key>
					<string>Kubernetes</string>
					<key>platform</key>
					<string>usercontribKubernetes</string>
					<key>uniqueIdentifier</key>
					<string>Kubernetes</string>
				</dict>
			</dict>
			<key>Sequelize</key>
			<dict>
				<key>date</key>
				<date>2020-04-21T13:26:41Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>authorLinkHref</key>
					<string>https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/Sequelize#readme</string>
					<key>authorLinkText</key>
					<string>marudor</string>
					<key>name</key>
					<string>Sequelize</string>
					<key>platform</key>
					<string>usercontribSequelize</string>
					<key>uniqueIdentifier</key>
					<string>Sequelize</string>
				</dict>
			</dict>
		</dict>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>actuallyDarkWebView</key>
	<true/>
	<key>docsets</key>
	<dict>
		<key>keywords</key>
		<dict/>
	</dict>
	<key>feeds</key>
	<dict>
		<key>installed</key>
		<dict>
			<key>http://kapeli.com/feeds/CouchDB.xml</key>
			<dict>
				<key>date</key>
				<date>2020-04-21T13:20:57Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Docker.xml</key>
			<dict>
				<key>date</key>
				<date>2020-04-21T13:20:54Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Elixir.xml</key>
			<dict>
				<key>date</key>
				<date>2020-04-21T13:26:25Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Java_SE14.xml</key>
			<dict>
				<key>date</key>
				<date>2020-04-21T13:20:18Z</date>
			</dict>
			<key>http://kapeli.com/feeds/MongoDB.xml</key>
			<dict>
				<key>date</key>
				<date>2020-04-21T13:19:16Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Mongoose.xml</key>
			<dict>
				<key>date</key>
				<date>2020-04-21T13:19:16Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Nginx.xml</key>
			<dict>
				<key>date</key>
				<date>2020-04-21T13:26:12Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Pandas.xml</key>
			<dict>
				<key>date</key>
				<date>2020-04-21T13:20:31Z</date>
			</dict>
			<key>http://kapeli.com/feeds/React.xml</key>
			<dict>
				<key>date</key>
				<date>2020-04-21T13:19:25Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Ruby_2.xml</key>
			<dict>
				<key>date</key>
				<date>2020-04-21T13:21:50Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Ruby_on_Rails_5.xml</key>
			<dict>
				<key>date</key>
				<date>2020-04-21T13:21:57Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Ruby_on_Rails_6.xml</key>
			<dict>
				<key>date</key>
				<date>2020-04-21T13:21:52Z</date>
			</dict>
			<key>http://kapeli.com/feeds/TypeScript.xml</key>
			<dict>
				<key>date</key>
				<date>2020-04-21T13:19:21Z</date>
			</dict>
		</dict>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>isPinned</key>
	<false/>
	<key>placeholderDelimiter</key>
	<string>__</string>
	<key>profiles</key>
	<array>
		<dict>
			<key>isDefault</key>
			<true/>
			<key>name</key>
			<string>Default</string>
			<key>searchSnippets</key>
			<false/>
		</dict>
		<dict>
			<key>icon</key>
			<string>Snippet</string>
			<key>name</key>
			<string>Snippets Only</string>
			<key>placeholder</key>
			<string>Search Snippets</string>
			<key>searchSnippets</key>
			<true/>
		</dict>
	</array>
	<key>shouldRestoreTabs</key>
	<true/>
	<key>shouldShowStatusIcon</key>
	<true/>
	<key>shouldSyncDocsets</key>
	<true/>
	<key>shouldSyncGeneral</key>
	<true/>
	<key>shouldSyncView</key>
	<true/>
	<key>showInDock</key>
	<false/>
	<key>versionedDHCheatRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHClojureRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHDartRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHGitHubRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHGoRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHHaskellRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHHexRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHJavaRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHPhpRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHRubyRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHScalaRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHStackOverflowRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHUserRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedFeeds</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
</dict>
</plist>
